body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: none;
    /* 400 500 700 */
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation,
.store-navigation {
    list-style: none;
}

.site-navigation a,
.store-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.store-navigation a:hover,
.site-navigation a:focus,
.store-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.store-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.slider-header {
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item {
    text-align: left;
}

.product-item {
    text-align: left;
}

.product-item-header {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.info-header {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    font-weight: 500;
}

.left-side {
    text-align: left;
}

.info-list-header {
    text-transform: uppercase;
    font-weight: 400px;
}

.info-list {
    list-style: none;
}

.button {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #e74246;
}

.two {
    background-color: #00ca74;
}

.three {
    background-color: #efc84a;
}

.info-table-header {
    font-weight: 400px;
    text-align: center;
}

.info-table-item-percent {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.info-table-item-percent-details {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.templates-logo {
    opacity: 0.2;
}

.templates-logo:hover,
.templates-logo:focus {
    opacity: 1;
}

.templates-logo:active {
    opacity: 0.1;
}

.footer-contacts-header {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
}

.footer-contacts-details {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
}

.modal {
    font: inherit;
}

label {
    font-weight: 700;
}

.footer-social ul {
    list-style: none;
}

.social-text {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.social-text-header {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.modal-write-us-header {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.write-us-form input,
textarea {
    font: inherit;
    background-color: transparent;
    border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    border-color: #000000;
}